.operator-console {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.console-title {
  font-size: 1.5em;
  color: #2c3e50;
  margin-bottom: 20px;
}

.event-list {
  background-color: black;
  color: rgb(196, 248, 248);
  padding: 10px;
  border-radius: 15px;
  font-family: monospace;
  font-size: 12px;
}

.event-item {
}

.event-header {
}

.event-body {
}
